@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div><strong>Salt Encypted:</strong> @ViewData["Encrypt"]</div><br />
        <div><strong>Decrypted:</strong> @ViewData["Decypt"]</div>
    </div>
</body>
</html>
